.box1{
    background-color: rgb(200, 100, 25);
}

.box2{
    background-color: rgb(50, 50, 60);
}

.box3{
    background-color: rgb(100, 50, 100);
}

.box4{
    background-color: rgb(255, 100, 20);
}

.box5{
    background-color: rgb(10, 200, 50);
}

.box6{
    background-color: rgb(80, 155, 70);
}

.box7{
    background-color: rgb(4, 50, 55);
}

.box8{
    background-color: rgb(50, 100, 200);
}